
  {% extends 'base/footer-header.html' %}

  {% block titulo %} Login {% endblock titulo %}
  
  
  {% block cuerpo %} 
  
  
 <!--Este es el preview -->
  
   


    <div style="background-color: white;" > 

<div class="container">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-8">
        
        
      </div>
      <div class="col">
        
        {% if user.is_authenticated %}

<h4 style="color: black;">   Bienvenido {{ user.username }} </h4>
 
{% else %}
  <h3>Bienvenido Por favor Inicie Sesión</h3>
  {% endif %}
      </div>

      <div class="col">
        <h4 style="color: black;">  <a href="{% url 'bases:logout' %}">Cerrar Sesión</a> </h4>
        
      </div>

      
    </div>
    
  </div>
  <div class="container">
  <form  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      

      <div class="custom-file">
        <input type="file" id="myfile" name="myfile"  class="custom-file-input" lang="es">
        <label class="custom-file-label" for="customFileLang">Seleccionar Imagen</label>
      </div>
    </br>
      
    
    

      <div style="text-align: center;">
        
        <h4 style="color:black;"> </br> {{ms}}</h4>
      
      <br>
      <button onclick="ShowLoading()" class="btn btn-primary"  {{ estado }} type="submit">Autenticar</button></div> 
  </form>
  

  
</br>

  
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="btn btn-primary" data-dismiss="alert" aria-label="Close"> {{ message }}
      
    </button>
    
  </div>

  
{% endfor %}

    
<form  method="GET"  >
  <script type="text/javascript">
    function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = "https://www.gifde.com/gif/otros/decoracion/cargando-loading/cargando-loading-039.gif";
        
        div.style.cssText = 'position: fixed; top: 50%; left: 15%; z-index: 5000; width: 805px; text-align: center; background: #EDDBB0; border: 1px solid #000';
        div.appendChild(img);
        document.body.appendChild(div);
        return true;
        // These 2 lines cancel form submission, so only use if needed.
        //window.event.cancelBubble = true;
        //e.stopPropagation();
    }
</script>
  

<div id="file-preview-zone">
</div>
  {% for i in im %}
 


  <a onclick="ShowLoading()" class="btn btn-primary" href="{% url 'bases:scs' i user.email %}" >  <img src='/media/claves/{{i}}' width="250" height="250"></a>
  
  {% endfor %}
  
  

 

</form>
</div>
    

</div>
  
 
{% endblock cuerpo %}